{:objects
 {:Book {:description "Books written by George R. R. Martin"
         :fields
         {:Id {:type Int
               :description "The ID of the book"}
          :Name {:type String
                 :description "The name of the book"}
          :ISBN {:type String
                 :description "ISBN Number"}
          :NumberOfPages {:type String
                          :description "The number of pages in the book"}
          :Publisher {:type String
                      :description "The name of the publisher"}
          :MediaType {:type String
                      :description "Type of Media"}
          :Country {:type String
                    :description "Country where the book was first published"}
          :ReleaseDate {:type String
                        :description "Year when the book was released"}
          :Authors {:type (list String)
                    :description "Authors of the book"}
          :FollowedBy {:type Int
                       :description "Next Book ID"}
          :PrecededById {:type Int
                         :description "Previous Book ID"}}}}
 :queries {:book_by_id
           {:type :Book
            :args {:id {:type Int}}
            :resolve :query/book-by-id}}}
